/* import other css file */
@import url("sytle-element.css");
@import url("style-smaller.css");
@import url("style-medium.css");
@import url("style-large.css");




.card-category {
  width: 100%;
  margin:2px;
  color: #a52a2a;
  padding-left: 20px;
}
.card-category a {
	color: #8b0000;
}
.card-title {
  width: 100%;
  margin: 2px;
  padding-left: 10px;
}

.card-title a {
	color: #0000ffa2;
}
.card-title a:hover {
  text-decoration:underline ;
  
}
.card-blog-summary {
  width: auto;
  padding: 5px;
  text-align: justify;
}

.card-image {
  width: 100%;
  background-color: white;
}
figure {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
figure > img{
  width: 100%;
  height: 300px
}
